# Ignore node_modules directory
node_modules/

# Ignore .env file (for sensitive configuration)
.env

# Ignore Next.js build output
.next/

# Ignore build output (if applicable)
build/

# Ignore logs
logs/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE-specific files and directories
.idea/
.vscode/