.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 20px;
}

.container .add{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(127, 253, 0, 0.681);
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0px 0px 2px black;
    margin-top: 10px;
}

.container .add:hover{
    box-shadow: 0px 0px 5px green;
}

.container p{
    color: rgb(2, 80, 2);
    background-color: rgba(127, 255, 212, 0.833);
    padding: 5px;
    border-radius: 5px;
    max-width: 400px;
    margin-top: 20px;
}

.card{
    width: fit-content;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: show .2s ease forwards;
}

@keyframes show {
    from{
        scale: 0;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}

.card input{
    padding: 5px;
    border-radius: 5px;
    border-style: dotted;
    outline: none;
}

.card input:focus{
    background-color: aquamarine;
}

.card button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(246, 125, 125, 0.793);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
     box-shadow: 0px 0px 3px rgb(9, 9, 9);
     transition: .2s ease;
}
.card button svg{
   scale: 1.2;
}

.card button:hover{
   box-shadow: 0px 0px 5px black;
}


